@using Microsoft.JSInterop
@using videoblazor.Conexion
@page "/"

<PageTitle>Home Video</PageTitle>

 <h1>Manera GRPC</h1>
<video width="auto" height="360" controls @attributes="MemoryStreamgrpcAttributes">
    Tu navegador no soporta el elemento de video.
</video>

@code {
    private Dictionary<string, object> MemoryStreamgrpcAttributes = new Dictionary<string, object>();

    protected override async Task OnInitializedAsync()
    {
        // Llamar al servicio gRPC para obtener el stream de video
        var swStreaming = new SWStreaming();
        var videoStream = await swStreaming.GetVideoStreamAsync("ElClub.mp4");

        // Guardar el stream de video temporalmente en el servidor
        var videoFileName = $"temp_video_{DateTime.Now.Ticks}.mp4";
        var videoPath = Path.Combine("wwwroot", "temp_videos", videoFileName);
        using (var fileStream = new FileStream(videoPath, FileMode.Create, FileAccess.Write))
        {
            await videoStream.CopyToAsync(fileStream);
        }

        // Establecer la referencia del video temporal al atributo src del video en MemoryStream
        MemoryStreamgrpcAttributes["src"] = $"/temp_videos/{videoFileName}";
    }
}
